<image class="center" src="https://www.esrl.noaa.gov/psd/data/usclimate/images/climmap.gif"></image>
<style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
</style>
<h1>Search with STATE:DIVISION for division-specific data. Example: CA:01 for California Division 1.</h1>