<div class="image">
  <canvas id="data" width="400" height="400"></canvas>
  <canvas id="prediction" width="400" height="400"></canvas>
  <body onload="doacoolthing(document.getElementById('data'))"></body>
  <body onload="doacoolthing(document.getElementById('prediction'))"></body>
</div>