<div class="image">
  <canvas id="data" width="400" height="400"></canvas>
  <canvas id="prediction" width="400" height="400"></canvas>
  <script>
    window.onload = function() {
      doacoolthing(document.getElementById('data'));
      doanothercoolthing(document.getElementById('prediction'));
    };
  </script>
</div>